<div class="box box-info">
    <div class="box-header">
        <h3>Current Conditions</h3>
    </div>
    <div class="box-body">
        <ul>
            <li>Water Flow: {{vm.currentWaterCondition.waterFlow}} ft<sup>3</sup>/s</li>
            <li>Water Temp: {{vm.currentWaterCondition.waterTemperature}} &deg;<sup>F</sup></li>
            <li>Air Temp: {{vm.currentWeatherCondition.airTemperature}} &deg;<sup>F</sup></li>
            <li>Wind Speed: {{vm.currentWeatherCondition.windSpeed}} mi/h</li>
            <li>Wind Direction: {{vm.currentWeatherCondition.windDirection}}</li>
        </ul>
    </div>
</div>