<form id="log-book-form">
    <div class="box box-info">
        <div class="box header with-border">
            <h3 class="box-title">Log Book</h3>
        </div>
        <div class="box-body">
            <div class="form-group row">
                <div class="col-lg-4">
                    <label for="boatType" class="control-label">Boat Type</label>
                    <select id="boatType" name="boatType" class="form-control" ng-change="vm.loadBoatsByType()" ng-model="vm.selectedBoatType" ng-options="y.Type for (x, y) in vm.boatTypes">                        
                    </select>
                </div>
                <div class="col-lg-8">
                    <label for="boatName" class="control-label">Boat Name</label>
                    <select id="boatName" name="boatName" class="form-control selectpicker" data-live-search="true" ng-model="vm.log.BoatName">
                        <option ng-repeat="boat in vm.boats" value="{{boat.Name}}">{{boat.Name}}</option>
                    </select>
                </div>
            </div>
            <div class="form-group row" ng-repeat="i in [].constructor(((vm.selectedBoatType.Seats) <= 0 ? 1 : (vm.selectedBoatType.Seats))) track by $index">
                <div class="col-lg-4">
                    <label for="seat" class="control-label">Seat</label>
                    <input name="seat" class=" seat form-control" ng-value="vm.getSeatNameByIndex({{$index}})" />
                </div>
                <div class="col-lg-8">
                    <label for="rowerName" class="control-label">Rower's Name</label>
                    <select name="rowerName" class="rowerName form-control selectpicker" data-live-search="true" ng-model="vm.log.Rower[$index].Name">
                        <option value="">Nothing selected</option>
                        <option ng-repeat="member in vm.members" value="{{member.MemberId}}">{{member.FirstName}} {{member.LastName}}</option>
                    </select>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-lg-4">
                    <label for="date" class="control-label">Date</label>
                    <div class="input-group date" data-provide="datepicker">
                        <input type="text" id="date" name="date" class="form-control datetimepicker-input" data-target="#date" ng-model="vm.log.Date" data-toggle="datetimepicker" />
                        <div class="input-group-append" data-target="#date" data-toggle="datetimepicker">
                            <div class="input-group-text"><i class="fa fa-calendar-o"></i></div>
                        </div>
                    </div>
                    <script type="text/javascript">
                        $(function () {
                            $('#date').datetimepicker({
                                format: 'L'
                            });
                        });
                    </script>
                </div>
                <div class="col-lg-4">
                    <label for="timeOut" class="control-label">Time Out</label>
                    <div class="input-group" id="datetimepickerTimeOut" data-target-input="nearest">
                        <input type="text" id="timeOut" name="timeOut" class="form-control datetimepicker-input" data-target="#datetimepickerTimeOut" ng-model="vm.log.TimeOut" data-toggle="datetimepicker" />
                        <div class="input-group-append" data-target="#datetimepickerTimeOut" data-toggle="datetimepicker">
                            <div class="input-group-text"><i class="fa fa-clock-o"></i></div>
                        </div>
                    </div>
                    <script type="text/javascript">
                        $(function () {
                            $('#datetimepickerTimeOut').datetimepicker({
                                format: 'LT'
                            });
                        });
                    </script>
                </div>
                <div class="col-lg-4">
                    <label for="timeIn" class="control-label">Time In</label>
                    <div class="input-group" id="datetimepickerTimeIn" data-target-input="nearest">
                        <input type="text" id="timeIn" name="timeIn" class="form-control datetimepicker-input" data-target="#datetimepickerTimeIn" ng-model="vm.log.TimeIn" data-toggle="datetimepicker" />
                        <div class="input-group-append" data-target="#datetimepickerTimeIn" data-toggle="datetimepicker">
                            <div class="input-group-text"><i class="fa fa-clock-o"></i></div>
                        </div>
                    </div>
                    <script type="text/javascript">
                        $(function () {
                            $('#datetimepickerTimeIn').datetimepicker({
                                format: 'LT'
                            });
                        });
                    </script>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-lg-4">
                    <label for="milesRowed" class="control-label">Miles Rowed (1,600 meters = 1 mile)</label>
                    <input type="number" min="0" id="milesRowed" name="milesRowed" class="form-control" ng-model="vm.log.MilesRowed" />
                </div>
            </div>
            <div class="form-group row">
                <div class="col-lg-12">
                    <label for="workoutComment" class="control-label">Workout Comment</label>
                    <textarea class="form-control" id="workoutComment" name="workoutComment" rows="10" ng-model="vm.log.Comments" required></textarea>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-lg-2">
                    <button class="btn btn-info">Submit</button>
                </div>
            </div>
        </div>
    </div>
</form>