<form id="log-book-form">
    <div class="box box-info">
        <div class="box header with border">
            <h3 class="box-title">Log Book</h3>
        </div>
        <div class="box-body">
            <div class="row">
                <div class="col-lg-2">
                    <label for="boatType" class="control-label">Boat Type</label>
                    <select id="boatType" name="boatType" class="form-control">
                        <option>1X</option>
                    </select>
                </div>
                <div class="col-lg-4">
                    <label for="boatName" class="control-label">Boat Name</label>
                    <select id="boatName" name="boatName" class="form-control">
                        <option>V6</option>
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-2">
                    <label for="seat" class="control-label">Seat</label>
                    <input id="seat" name="seat" class="form-control" />
                </div>
                <div class="col-lg-4">
                    <label for="rowerName" class="control-label">Rower's Name</label>
                    <select id="rowerName" name="rowerName" class="form-control">
                        <option>V6</option>
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-2">
                    <label for="date" class="control-label">Date</label>
                    <input id="date" name="date" class="form-control" />
                </div>
                <div class="col-lg-2">
                    <label for="timeOut" class="control-label">Time Out</label>
                    <input id="timeOut" name="timeOut" class="form-control" />
                </div>
                <div class="col-lg-2">
                    <label for="timeIn" class="control-label">Time In</label>
                    <input id="timeIn" name="timeIn" class="form-control" />
                </div>
            </div>
            <div class="row">
                <div class="col-lg-2">
                    <label for="milesRowed" class="control-label">Miles Rowed (1,600 meters = 1 mile)</label>
                    <input id="milesRowed" name="milesRowed" class="form-control" />
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <label for="workoutComment" class="control-label">Workout Comment</label>
                    <textarea class="form-control" id="workoutComment" name="workoutComment" rows="10" required></textarea>
                </div>
            </div>
        </div>
        <div box-footer>
            <br/>
            <button class="btn btn-info">Submit</button>
        </div>
    </div>
</form>