<aside class="main-sidebar">
    <section class="sidebar">
        <ul class="sidebar-menu">
            <li class="treeview"><a href="#!/logbook"><i class="fa fa-book"></i> <span>Log Book</span></a></li>
            <li class="treeview"><a href="#"><i class="fa fa-search"></i> <span>Log Book History Search</span></a></li>
            <li class="treeview"><a href="#"><i class="fa fa-exclamation-circle"></i> <span>Report Boat Damage</span></a></li>
            <li class="treeview"><a href="#!/memberlist"><i class="fa fa-list-ol"></i> <span>Member List</span></a></li>
            <li class="treeview"><a href="#!/fleetlist"><i class="fa fa-ship"></i> <span>Fleet List</span></a></li>
            <li class="treeview">
                <a href="javascript:void(0);"><i class="fa fa-bar-chart"></i> <span>Reports</span> <i class="fa fa-angle-left pull-right"></i></a>
                <ul class="treeview-menu">
                    <li><a href="#">Individual Milage Report</a></li>
                    <li><a href="#!/reports/equipmentusage">Equipment Usage Report</a></li>
                    <li><a href="#">Club Milage by Member</a></li>
                    <li><a href="#">Club Log Book</a></li>
                </ul>
            </li>
        </ul>
    </section>
</aside>