<div class="container">
    <input type="button" id="btn-add-boat" class="btn btn-success" value ="Add New Boat" ng-click="vm.showAddEditBoatModal()"/>

    <table class="table table-striped">
        <thead>
        <tr>
            <th>Type</th>
            <th>Boat Name</th>
            <th>Make</th>
            <th>Size</th>
            <th>Rig Avail</th>
            <th>Rigging</th>
            <th>Use Restrictions</th>
            <th>Status</th>
            <th>Owned By</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="boat in vm.fleet track by $index">
            <td>{{boat.Type}}</td>
            <td>{{boat.Name}}</td>
            <td>{{boat.Make}}</td>
            <td>{{boat.Size}}</td>
            <td>{{boat.RiggingAvailable}}</td>
            <td>{{boat.CurrentRigging}}</td>
            <td>{{boat.UseRestrictions}}</td>
            <td>{{boat.Status}}</td>
            <td>{{boat.OwnedBy}}</td>
        </tr>
        </tbody>
    </table>
</div>

<div class="boat-modal modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Add/Edit Boat</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <ng-include src="'app/views/fleetList/partials/boatForm.html'"></ng-include>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>